if (!params.skip_multiqc) {
    process {
        withName: 'MULTIQC_WITH_SUBFOLDERS' {
            ext.args = { [
                ((params.multiqc_title == null) ? '' : "--title \"${params.multiqc_title}\"")
            ].join(' ').trim() }
            ext.prefix = "multiqc_report"
            publishDir = [
                [
                    // Publish main multiqc report in the root multiqc folder
                    path: { "${params.outdir}/multiqc" },
                    mode: params.publish_dir_mode,
                    pattern: "*multiqc_report.html",
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ],
                [
                    // Publish multiqc data folder
                    path: { "${params.outdir}/multiqc" },
                    mode: params.publish_dir_mode,
                    pattern: "*_data",
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ],
                [
                    // Publish multiqc plots folder if present
                    path: { "${params.outdir}/multiqc" },
                    mode: params.publish_dir_mode,
                    pattern: "*_plots",
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
                ]
            ]
        }
    }
}
